---
---

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="https://honghanh.org/assets/img/favicon.png" type="image/x-icon">
        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/assets/css/styles.css">
        <!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZEuEWQIytfwbg8i9aMI1U1" crossorigin="anonymous">
		

	<title>{{ site.author }} | Danh mục hỗ trợ</title>
	{% include seo.html %}
	{% include head.html %}
    </head>
    <body>
        {% include header.html %}
        <main class="main">
        
            <!-- ==================== STEPS ====================-->
            <section class="steps section container">
                <div class="steps__bg">
                    <h2 class="section__title-center steps__title">
                        Danh mục hỗ trợ
                    </h2>
                    <p>
                        </p>
                    <div class="steps__container grid">
                        <div class="steps__card">
                            <div class="steps__card-number">01</div>
                            <h3 class="steps__card-title">Chính sách bảo hành</h3>
                            <p class="steps__card-description">
                                Cửa hàng hỗ trợ toàn bộ chi phí in ấn với thời gian không vượt quá 5 ngày (không bao gồm Chủ Nhật), tuy nhiên. Hãy liên hệ 0946292494 để được hỗ trợ một cách suôn sẻ nhất.
                                <br>
                                1. Ấn phẩm in bị lỗi như: lem, mất chữ, in lệch,...
                                <br>
                                2. Ấn phẩm in khác nội dung với mẫu gửi cho khách hàng.
                                <br>
                                3. Các ấn phẩm là thiệp cưới phổ thông, thiệp sinh nhật, thực đơn.
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">02</div>
                            <h3 class="steps__card-title">Chính sách hỗ trợ</h3>
                            <p class="steps__card-description">
                                Khách hàng <b>có thể</b> hỗ trợ 500 đồng phí mực in mỗi bộ với một trong các điều kiện:
                                <br>
                                1. Khách thay đổi nội dung in.
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">03</div>
                            <h3 class="steps__card-title">Góp ý & hỗ trợ</h3>
                            <p class="steps__card-description">
                                Cửa hàng chúng tôi luôn muốn buổi tiệc diễn ra một cách tốt nhất, nên đừng ngần ngại gì khi quý khách cần yêu cầu hỗ trợ nhé!
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!--==================== QUESTIONS ====================-->
            <section class="questions section" id="faqs">
                <h2 class="section__title-center questions__title container">
                    Một vài câu hỏi thường gặp!?
                </h2>

                <div class="questions__container container grid">
                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Thiệp cưới khoảng bao lâu mới có?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Thông thường, với các mẫu có sẵn ở danh sách thì sẽ trong vòng 1 ngày. Còn các mẫu chưa có thì sẽ có từ 2-4 ngày trong tuần.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Khi thiệp có vấn đề gì, tôi nên liên hệ cho ai?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Nếu thiệp cưới có vấn đề phát sinh, quý khách hãy liên hệ đến số 0946292494 để được hỗ trợ nhé.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Cửa hàng mình ở đâu?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Cửa hàng trưng bày sản phẩm ở Hồng Hạnh, nhưng nếu quý khách gần các khu vực cửa hàng phân phối thì vẫn có thể liên lạc với hỗ trợ để nhận ở cửa hàng gần nhất nha.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Tôi muốn đặt dịch vụ trang trí, thì làm cách nào?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Quý khách hãy liên hệ đến số 0919045020 để gặp Hạnh nhé. Ngoài ra, cửa hàng còn có đầy đủ các dịch vụ khác như mâm-quả, rạp cưới,...
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Cửa hàng có giao toàn quốc chứ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Cửa hàng có dịch vụ giao toàn quốc, tuy nhiên. Quý khách sẽ phải chịu chi phí di chuyển phát sinh.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Làm sao để nhận được giảm giá?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Quý khách sẽ nhận được giảm giá khi sử dụng thiệp và dịch vụ tại cửa hàng Hồng Hạnh.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main> 
        {% include footer.html %}
        <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
