---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="https://honghanh.org/assets/img/favicon.png" type="image/x-icon">
        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/assets/css/styles.css">
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZEuEWQIytfwbg8i9aMI1U1" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-Q8i/XyCfVt8jB3icfG2eryL2Q5Pa5h9TxhBsf7IpbaqqgCtJfGhpieBh8bNIaU6j" crossorigin="anonymous"></script>
		  
	<title>{{ site.author }} | {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body style="padding-top:100px">
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<!-- <div class="container">
				<h2>About me.</h2>
				<p>{{ site.description }}</p>
			</div> -->
			<!-- <div class="grid-container">
				<h2>Projects I have worked on.</h2>
					<ul class="grid-item">
						{% for item in site.categories.projects reversed %}
							<li>
								<a href="{{ item.url | prepend: site.baseurl }}">
									<div class="grid-item">
										<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
									</div>
									<span class="h2">{{ item.project.type }}</span>
									<h3>{{ item.project.title }}</h3>
								</a>
							</li>
						{% endfor %}
					</ul>
			</div> -->
			<div class="container" id="story">
				<h2 class="section__title-center">
					Các sự kiện 
				</h2>
	
				<p class="product__description">
					Đây là một số mẫu bán chạy tại cửa hàng, tất cả đều có chất lượng rất tốt.	
				</p>
				<div class="grid-container" style="padding-top:50px">
				  {% for item in site.categories.projects reversed %}
					<div class="grid-item-container">
					  <a href="{{ item.url | prepend: site.baseurl }}">
						<div class="grid-item">
						  <img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
						  <!-- <span class="h2">{{ item.project.type }}</span> -->
						  <div class="hover-effect">
							<h4>{{ item.project.title }}</h4>
						  </div>
							<!-- <h5>{{item.project.date}}</h5> -->
						</div>
					  </a>
					</div>
				  {% endfor %}
				</div>
		</section>
		<!--==================== DECORATE ====================-->
		<section class="home" id="decorate">
			<div class="home__container container grid">
					<!-- <img style="border-radius: 20px" src="assets/img/decoration_1.jpg" alt="" class="home__img"> -->
					<img style="border-radius: 20px" src="/Users/darley/Documents/GitHub/invitation/assets/img/trangtri.png" alt="" class="home__img">
				<div class="home__data">
					<h1 class="home__title">
						Cùng lưu giữ kỷ niệm! ⭐
					</h1>
					<p class="home__description">
						Một hành trình để đi tìm hạnh phúc thì phải bước qua biết bao nhiêu chông gai, chúng tôi luôn muốn cùng bạn lưu giữ những khoảng khắc tuyệt vời nhất.
					</p>
					<a style="margin-top:8px; width: 60%;" href="https://zalo.me/0919045020" class="button button--flex">
						Đặt lịch tư vấn ngay! <i class="ri-arrow-right-down-line button__icon"></i>
					</a>
					<a href="https://www.tiktok.com/@honghanhdecor?_t=8YzqZK2pyx0&_r=1;width: 35%;text-align:center" class="button button--flex" style="background-color:rgb(244, 244, 244);color:black;">
						Tiktok<i class="ri-arrow-right-down-line button__icon"></i>
					</a>
				</div>
			</div>
		</section>
		<!--==================== INVITATION ====================-->
		<section class="about section container" id="invitation">
			<div class="about__container grid">
				<img style="border-radius: 20px" src="/Users/darley/Documents/GitHub/invitation/assets/img/message.png" alt="Thiệp đẹp siêu cấp vip pro" class="about__img">

				<div class="about__data">
					<h2 class="section__title about__title">
						Thiệp mời
					</h2>

					<p class="about__description">
						Chúng tôi với hơn 20 năm kinh nghiệm trong lĩnh vực tiệc cưới cùng số lượng khách hàng tin tưởng và sử dụng dịch vụ hơn 40+ và số lượng 7000+ mẫu thiệp được in mỗi tháng.
					</p>

					<div class="about__details">
						<p class="about__details-description">
							<i class="ri-checkbox-fill about__details-icon"></i>
							Ấn phẩm chất lượng tốt nhất so với tầm giá.
						</p>
						<p class="about__details-description">
							<i class="ri-checkbox-fill about__details-icon"></i>
							In tên theo danh sách.
						</p>
						<p class="about__details-description">
							<i class="ri-checkbox-fill about__details-icon"></i>
							Nhiều sản phẩm có ngay trong ngày.
						</p>
						<p class="about__details-description">
							<i class="ri-checkbox-fill about__details-icon"></i>
							Nhiều sản phẩm in thêm không phí phụ thu.
						</p>
						
						<p class="about__details-description">
							<i class="ri-checkbox-fill about__details-icon"></i>
							Đổi trả miễn phí cho các sản phẩm lỗi.
						</p>
					</div>
					<div>
					<a href="https://www.icloud.com/sharedalbum/vi-vi/#B0T532ODWi1fRnP" class="button button--flex" style="height:auto; width: 45%;text-align: center;">
						<i class="ri-vip-crown-2-fill"></i>Cao cấp<i class="ri-arrow-right-down-line button__icon"></i>
					</a>
					<a style="margin-top:8px;width: 45%;text-align: center;"href="https://www.icloud.com/sharedalbum/vi-vi/#B0z532ODWre8BWe" class="button button--flex col-md-auto">
						<i class="ri-mail-unread-fill"></i>Canva<i class="ri-arrow-right-down-line button__icon"></i>
					</a>
					<a style="margin-top:8px; background-color:rgb(244, 244, 244);color:black; height:auto; width: 45%;text-align: center;" href="https://www.icloud.com/sharedalbum/vi-vi/#B0T5oqs3q22j12E" class="button button--flex col-md-auto">
						<i class="ri-cake-3-fill"></i> Sinh nhật <i class="ri-arrow-right-down-line button__icon"></i>
					</a>
					<a style="margin-top:8px; background-color:rgb(244, 244, 244);color:black;height:auto; width: 45%;text-align: center;" href="https://theme.mykiot.vn/retail/500152698-195374?category=abd765e445b085c7336d1d277bcd4ca0&category_expanded=abd765e445b085c7336d1d277bcd4ca0" class="button button--flex col-md-auto">
						<i class="ri-shopping-bag-3-fill"></i>Đặt hàng<i class="ri-arrow-right-down-line button__icon"></i>
					</a>
				</div>
			</div>
		</section>
		<!--==================== PRODUCTS ====================-->
		<section class="product section container" id="invitation">
			<h2 class="section__title-center">
				Xem ngay<br> các mẫu thiệp mời.
			</h2>

			<p class="product__description">
				Đây là một số mẫu bán chạy tại cửa hàng, tất cả đều có chất lượng rất tốt.	
			</p>

			<div class="product__container grid">
				{% for file in site.static_files %}
				  {% if file.path contains 'invitation_card'%}
					<article class="product__card">
					  <div class="product__circle"></div>
					  <img src="{{ file.path | prepend: site.baseurl }}" alt="{{ file.name }}" class="product__img"/>
					  <!-- <button class="button--flex product__button">
						<i class="ri-shopping-bag-line"></i>
					  </button> -->
					</article>
				  {% endif %}
				{% endfor %}
			  </div>
			  
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>