<!--==================== FOOTER ====================-->
<footer class="footer section">
	<div class="footer__container container grid">
		<div class="footer__content" style="width: 16em;">
			<h3 class="footer__title">Địa chỉ cửa hàng</h3>
			<ul class="footer__data">
				<li class="footer__information"><b>HỒNG HẠNH</b> 0919 045 020 <Br>48 Đường 30/4, Thị xã Cai Lậy.</li>
					<ul class="footer__information">
						<div class="footer__social">
							<a href="https://www.tiktok.com/@honghanhdecor?_t=8YzqZK2pyx0&_r=1" target="_blank" class="footer__social-link">
								<i class="ri-music-fill"></i>
							</a>
							<a href="https://zalo.me/0919045020" target="_blank" class="footer__social-link">
								<i class="ri-message-3-fill"></i>
							</a>
							<a href="https://goo.gl/maps/1ZrtuxAnF1Jnnhh16" target="_blank" class="footer__social-link">
								<i class="ri-road-map-fill"></i>
							</a>
						</div>
					</ul>
				<li class="footer__information"><b>VŨ XUÂN</b> 0983 335 633 <Br>Chợ Ba Dừa, Long Trung, Cai Lậy.</li>
					<ul class="footer__information">
						<div class="footer__social">
							<a href="https://zalo.me/0983335633" target="_blank" class="footer__social-link">
								<i class="ri-message-3-fill"></i>
							</a>
							<!-- <a href="https://goo.gl/maps/1ZrtuxAnF1Jnnhh16" target="_blank" class="footer__social-link">
								<i class="ri-road-map-fill"></i>
							</a> -->
						</div>
					</ul>
				<li class="footer__information"><a class="footer__information"><a href="cuahang" class="footer__social-link" style="color:black; font-size:14px;">Các cửa hàng phân phối</a></li></li>
			</ul>
		</div>
		<div class="footer__content" style="width: 16em;">
			<h3 class="footer__title">Hợp tác doanh nghiệp</h3>
			<p><b>NGUYỄN DƯƠNG</b>
				<BR>0946 292 494
				<br><a href="https://darleigh.com" class="footer__social-link" style="color:black; font-size:14px">darleigh.com</a>
			</p>
			<ul class="footer__information">
				<div class="footer__social">
					<a href="https://www.linkedin.com/in/n-duong22/" class="footer__social-link">
						<i class="ri-linkedin-fill"></i>
					</a>
				</div>
			</ul>
		</div>
		<div class="footer__content" style="width: 16em;">
			<h3 class="footer__title">
				Phương thức thanh toán
			</h3>
			<p class="footer__data">
				<b>NGUYEN DUONG</b>MBbank | Momo: 0946292494
			</p><br>
			<p class="footer__data">
				<b>HA THI HONG HANH</b>MBbank: 0919045020
			</p>
			<br>
			<div class="footer__cards">
				<img src="https://honghanh.org/assets/img/card1.png" alt="" class="footer__card">
				<!-- <img src="assets/img/card2.png" alt="" class="footer__card"> -->
				<!-- <img src="assets/img/card3.png" alt="" class="footer__card"> -->
				<img src="https://honghanh.org/assets/img/momo.png" alt="" class="footer__card">
			</div>
		</div>
	</div>

	<p class="footer__copy">&#169; <a href="https://darleigh.com">Duong Nguyen</a> • All rights reserved.</p>
</footer>