<!--==================== FOOTER ====================-->
<footer class="footer section">
	<div class="footer__container container grid" style="background-color:#fafafa;padding:1em;border-radius:8px">
		<div class="footer__content">
			<h3 class="footer__title">Địa chỉ các cửa hàng</h3>

			<ul class="footer__data">
				<li class="footer__information"><b>HỒNG HẠNH</b> - <a href="tel:0919045020">0919 045 020</a><BR>
					48 Đường 30/4, Khu phố 1, Thị xã Cai Lậy, Tiền Giang.<br>
					MST <b>1200417272</b>
				</li>
				<ul class="footer__data">					
					<div class="footer__social">
						<a href="https://www.facebook.com/profile.php?id=100027928380335" class="footer__social-link">
							<i class="ri-facebook-fill"></i>
						</a>
						<a href="https://www.tiktok.com/@honghanhdecor?_t=8YzqZK2pyx0&_r=1" target="_blank" class="footer__social-link">
							<i class="ri-music-fill"></i>
						</a>
						<a href="https://zalo.me/0919045020" target="_blank" class="footer__social-link">
							<i class="ri-message-3-fill"></i>
						</a>
						<a href="https://goo.gl/maps/1ZrtuxAnF1Jnnhh16" target="_blank" class="footer__social-link">
							<i class="ri-road-map-fill"></i>
						</a>
					</div>
				</ul>
				<li class="footer__information"><b>VŨ XUÂN</b> - <a href="tel:0983335633">0983 335 633</a><br>
					Chợ Ba Dừa, Long Trung, Cai Lậy, Tiền Giang.
				</li>
				<li class="footer__information"><a href="cuahang" class="footer__social-link"">Xem thêm</a></li>
			</ul>
		</div>

		<div class="footer__content">
			<h3 class="footer__title">Liên hệ hợp tác</h3>

			<ul class="footer__data">
				<li class="footer__information"><B>NGUYỄN DƯƠNG</B><Br>
					<a href="tel:0946292494">0946 292 494</a><Br>
					<a href="https://darleigh.com">darleigh.com</a>
				</li>
				<div class="footer__social">
					<a href="https://zalo.me/0946292494" target="_blank" class="footer__social-link">
						<i class="ri-message-3-line"></i>
					</a>
					<a href="https://www.facebook.com/nduong22/" class="footer__social-link">
						<i class="ri-facebook-fill"></i>
					</a>
					<a href="https://darleigh.com" target="_blank" class="footer__social-link">
						<i class="ri-compass-3-line"></i>
					</a>
					<a href="https://blog.darleigh.com" target="_blank" class="footer__social-link">
						<i class="ri-quill-pen-line"></i>
					</a>
				</div>
			</ul>
		</div>
		<div class="footer__content">
			<h3 class="footer__title">
				Danh mục
			</h3>
			<ul class="footer__data">
				<li class="footer__information"><a href="{{site.baseurl}}/sanpham">Sản phẩm</a></li>
				<li class="footer__information"><a href="{{site.baseurl}}/hotro">Hỗ trợ</a></li>
				<li class="footer__information"><a href="{{site.baseurl}}/cuahang">Cửa hàng</a></li>
			</ul>
		</div>
		<div class="footer__content">
			<h3 class="footer__title">
				Thanh toán
			</h3>
			<ul class="footer__data">
				<li class="footer__information"><b>HỒNG HẠNH</b> <br> 1808196646888</li>
			</ul>
			<div class="footer__cards" style="margin-top:20px;margin-bottom:20px">
				<img src="assets/img/mbbank.png" alt="" class="footer__card">
			</div>
			<ul class="footer__data">
				<li class="footer__information"><b>NGUYỄN DƯƠNG</b> <br>
					0946292494<br>
					<a href="https://me.momo.vn/pwIlu1fbsjtduatgfGuZ">momo</a>
				</li>
			</ul>
			<div class="footer__cards" style="margin-top:20px">
				<img src="assets/img/mbbank.png" alt="" class="footer__card">
				<img src="assets/img/momo.png" alt="Chọn vào để gửi tiền"  class="footer__card">
				
			</div>
		</div>
	</div>

	<p class="footer__copy">&#169; <a href="https://darleigh.com">Duong Nguyen</a> • All rights reserved.</p>
</footer>

<!--=============== SCROLL UP ===============-->
<a href="#" class="scrollup" id="scroll-up"> 
	<i class="ri-arrow-up-fill scrollup__icon"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="https://honghanh.org/assets/js/scrollreveal.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="https://honghanh.org/assets/js/main.js"></script>