<!--==================== FOOTER ====================-->
<footer class="footer section">
	<div class="footer__container container grid">
		<!-- <div class="footer__subscribe">
				<div class="footer__content">
					<a href="https://zalo.me/0946292494" class="footer__logo">
						<i class="ri-leaf-line footer__logo-icon"></i> Liên hệ hợp tác
					</a>
					<h3 class="footer__title">
						Subscribe to our newsletter <br> to stay update
					</h3>
			</div>
		</div> -->

		<div class="footer__content">
			<h3 class="footer__title">Địa chỉ</h3>

			<ul class="footer__data">
				<li class="footer__information"><b>HỒNG HẠNH</b> - <a href="tel:0919045020">0919 045 020</a><BR>
					48 Đường 30/4, Khu phố 1, Thị xã Cai Lậy, Tiền Giang.
				</li>
				<li class="footer__information"><b>VŨ XUÂN</b> - <a href="tel:0983335633">0983 335 633</a><br>
					Chợ Ba Dừa, Long Trung, Cai Lậy, Tiền Giang.
				</li>
				<li class="footer__information"><a href="cuahang" class="footer__social-link"">Các cửa hàng phân phối</a></li>
			</ul>
		</div>

		<div class="footer__content">
			<h3 class="footer__title">Liên hệ</h3>

			<ul class="footer__data">
				<li class="footer__information" href="tel:0919045020">0919 045 020</li>
				
				<div class="footer__social">
					<a href="https://www.facebook.com/profile.php?id=100027928380335" class="footer__social-link">
						<i class="ri-facebook-fill"></i>
					</a>
					<a href="https://www.tiktok.com/@honghanhdecor?_t=8YzqZK2pyx0&_r=1" target="_blank" class="footer__social-link">
						<i class="ri-music-fill"></i>
					</a>
					<a href="https://zalo.me/0919045020" target="_blank" class="footer__social-link">
						<i class="ri-message-3-fill"></i>
					</a>
					<a href="https://goo.gl/maps/1ZrtuxAnF1Jnnhh16" target="_blank" class="footer__social-link">
						<i class="ri-road-map-fill"></i>
					</a>
				</div>
			</ul>
		</div>

		<div class="footer__content">
			<h3 class="footer__title">
				Phương thức thanh toán
			</h3>
			<ul class="footer__data">
				<li class="footer__information">Ngân hàng Quân đội MBBank</li>
				<li class="footer__information"><b>HỒNG HẠNH</b> - 1808196646888</li>
				<li class="footer__information"><b>NGUYỄN DƯƠNG</b> - 0946292494</li>

			</ul>

			<div class="footer__cards">
				<img src="assets/img/card1.png" alt="" class="footer__card">
				<img src="assets/img/momo.png" alt="" class="footer__card">
			</div>
		</div>
	</div>

	<p class="footer__copy">&#169; <a href="https://darleigh.com"><i class="ri-compass-3-line"></i> Duong Nguyen</a> • All rights reserved.</p>
</footer>

<!--=============== SCROLL UP ===============-->
<a href="#" class="scrollup" id="scroll-up"> 
	<i class="ri-arrow-up-fill scrollup__icon"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="https://honghanh.org/assets/js/scrollreveal.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="https://honghanh.org/assets/js/main.js"></script>