<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--=============== FAVICON ===============-->
	<link rel="shortcut icon" href="https://honghanh.org/assets/img/favicon.png" type="image/x-icon">

	<!--=============== REMIX ICONS ===============-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!--=============== CSS ===============-->
	<link rel="stylesheet" href="https://honghanh.org/assets/css/styles.css">

	<title>Hồng Hạnh | Trang chủ</title>
</head>