<header class="header" id="header">
	<nav class="nav container">
		<a href="index" class="nav__logo" style>
		honghanh
		</a> 
		<div class="nav__menu" id="nav-menu">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="index" class="nav__link active-link">Trang chủ</a>
				</li>
				<!-- <li class="nav__item">
					<a href="anpham" class="nav__link">Ấn phẩm</a>
				</li> -->
				<li class="nav__item">
					<a href="hotro" class="nav__link">Hỗ trợ</a>
				</li>
				<li class="nav__item">
					<a href="cuahang" class="nav__link">Cửa hàng</a>
				</li>
			</ul>

			<div class="nav__close" id="nav-close">
				<i class="ri-close-line"></i>
			</div>
		</div> 

		<div class="nav__btns">
			<!-- Theme change button -->
			<i class="ri-moon-line change-theme" id="theme-button"></i>

			<div class="nav__toggle" id="nav-toggle">
				<i class="ri-menu-line"></i>
			</div>
		</div>
	</nav>
</header>