<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ page.project.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<!--==================== DECORATE ====================-->
		<section class="home" id="decorate">
			<div class="home__container container grid">
				{% if sitebase.projects.url %}
				<img style="border-radius: 20px" src="{{sitebase.project.url}}" alt="" class="home__img">
				{% else %}
					<img style="border-radius: 20px" src="{{site.baseurl}}/assets/img/flamingo.png" alt="" class="home__img">
				{% endif %}
				<div class="home__data">
					<h4 class="section__title about__title"> Mừng ngày kỷ niệm của</h4>
					<h1 class="home__title">
						🤵🏻{{page.project.groom}}<br>
						👰🏻‍♀️{{page.project.bride}}
					</h1>
					<p class="home__description" >Vào ngày <b>{{ page.date | date: "%d/%m/%Y" }}</b>.</p>
					<p class="home__description" >Tại <b>{{page.project.location}}</b>.</p>
					<p class="home__description">
						Hạnh phúc không phải là điều dễ dàng để đạt được, nhưng nếu bạn sẵn sàng bước qua những chông gai và khó khăn, thì đó là một hành trình đầy ý nghĩa. Và khi bạn đã tìm thấy người mình yêu thương, hãy cùng nhau trải qua những khoảnh khắc tuyệt vời nhất của cuộc đời.
					</p>
					<div style="display:flex; flex-direction: column;">
						<a href="{{page.project.brideurl}}" class="button button--flex">
							👰🏻‍♀️<i class="ri-arrow-right-down-line button__icon"></i>
						</a>
						<a href="{{page.project.groomurl}}" class="button button--flex" style="background-color:rgb(244, 244, 244);color:black;">
							🤵🏻<i class="ri-arrow-right-down-line button__icon"></i>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!-- <section class="project-navigation">
			<div class="container">
				{% if page.previous and page.previous.categories contains "projects" %}
				<a title="Previous {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.project.title }}</h2>
				</a>
				{% endif %}
				{% if page.next and page.next.categories contains "projects" %}
				<a title="Next {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.project.title }}</h2>
				</a>
				{% endif %}
			</div> -->
		</section>
		<section class="product section container">
			<h2 class="section__title-center">
				Cùng xem ngay<br> các khoảng khắc tuyệt vời của<br>
				{{page.project.groom}} 🤵🏻👰🏻‍♀️ {{page.project.bride}}.
			</h2>

			<p class="product__description">
				Những khoảnh khắc ấy đưa chúng ta vào một thế giới của tình yêu và hạnh phúc. Trong từng bức ảnh, ánh nắng vàng nhẹ nhàng chiếu sáng trên khuôn mặt của họ, làm nổi bật vẻ đẹp tự nhiên của họ. Những tràng cười vui tươi, những cái ôm ấm áp, những ánh mắt đắm say đều được ghi lại bằng những bức ảnh đầy cảm xúc.
				nhau tạo nên một khoảng thời gian đáng nhớ trong cuộc đời của họ. Những khoảnh khắc tuyệt vời đó sẽ mãi được lưu giữ và ghi nhận trong trái tim của họ, khiến cho họ càng yêu thương và trân trọng nhau hơn nữa.
			</p>
		<!-- ==================== SHOWALL ==================== -->
			<div class="product__container grid">
				{% for file in site.static_files %}
				  {% if file.path contains 'customer/{{page.project.title}}'%}
					<article class="product__card">
					  <div class="product__circle"></div>	
					  <img src="{{ file.path | prepend: site.baseurl }}" alt="{{ file.name }}" class="product__img"/>
					</article>
				  {% endif %}
				{% endfor %}
			  </div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>